streamlit
pandas
numpy
plotly
statsmodels
scikit-learn
scipy
lifelines
matplotlib
seaborn
fpdf
networkx
streamlit-option-menu
python-docx
openpyxl
streamlit-folium
gTTS
beautifulsoup4
requests
